<div class="tab-content bg-white py-2">
  <div>
    <div class="data-view px-4 py-2">
      <div class="row g-2 mb-2">
        <div class="col-12 d-flex flex-column mb-3">
          <small class="flex-shrink-0 me-2 w-50">Centro de salud</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">San Blas</span>
        </div>
        <div class="col-12 d-flex flex-column mb-3">
          <small class="flex-shrink-0 me-2 w-50"
            >Especialistas que atienden al cliente</small
          >
          <span class="text-muted flex-grow-1 me-2 bg-light"
            >Neurologo, nefrologo, psicologo</span
          >
        </div>
        <div class="col-12 d-flex flex-column mb-3">
          <small class="flex-shrink-0 me-2 w-50"
            >Diagnóstico o patologias relevantes</small
          >
          <span class="text-muted flex-grow-1 me-2 bg-light"
            >TDAH, vegija hiperactiva, por lo que tiene que ir bastante al
            servicio a hacer pis, sin poderse aguantar las ganas</span
          >
        </div>
        <!-- Columna Izquierda -->
        <div
          class="col-4 d-flex justify-content-between align-items-center mb-3"
        >
          <small class="flex-shrink-0 me-2 w-50">Medicacion</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">SI</span>
        </div>
        <!-- Columna Derecha -->
        <div
          class="col-8 d-flex justify-content-between align-items-center mb-3"
        >
          <small class="flex-shrink-0 me-3">Tipo</small>
          <span class="text-muted flex-grow-1 me-2 bg-light text-break"
            >Medicacion para tratar exceso de miccion</span
          >
        </div>
      </div>

      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div class="col-4 d-flex justify-content-between align-items-center">
          <small class="flex-shrink-0 me-2 w-50">Alergias</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">NO</span>
        </div>
        <!-- Columna Derecha -->
        <div class="col-8 d-flex justify-content-between align-items-center">
          <small class="me-3">Tipo</small>
          <!-- text-break para correos largos -->
          <span class="text-muted flex-grow-1 me-2 bg-light text-break"></span>
        </div>
      </div>

      <!-- Separador entre contactos -->
      <hr class="" />

      <!-- Fila 3: Padre (Nombre) vs. DNI -->
      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div
          class="col-6 d-flex justify-content-between align-items-center mb-3"
        >
          <small class="flex-shrink-0 me-2 w-50">Marcado como importante</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">NO</span>
        </div>
        <!-- Columna Derecha -->
        <div
          class="col-6 d-flex justify-content-between align-items-center mb-3"
        ></div>
      </div>
    </div>
  </div>
</div>
