<div class="tab-content bg-white py-2">
  <div>
    <!-- Listado de datos (solo lectura) -->
    <div class="data-view px-4 py-2">
      
      <!-- Fila 1: Madre (Nombre) vs. DNI -->
      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div class="col-4 d-flex justify-content-between align-items-center mb-3">
          <small class="flex-shrink-0 me-2 w-25">Madre</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">Nuria</span>
        </div>
        <!-- Columna Derecha -->
        <div class="col-8 d-flex justify-content-between align-items-center mb-3">
          <small class="me-3">DNI</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">55511123A</span>
        </div>
      </div>
      
      <!-- Fila 2: Teléfono vs. Email (Alineación garantizada) -->
      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div class="col-4 d-flex justify-content-between align-items-center">
          <small class="flex-shrink-0 me-2 w-25">Telefono</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">622111222</span>
        </div>
        <!-- Columna Derecha -->
        <div class="col-8 d-flex justify-content-between align-items-center">
          <small class="me-3">Email</small>
          <!-- text-break para correos largos -->
          <span class="text-muted flex-grow-1 me-2 bg-light text-break">madrecorreo.com</span>
        </div>
      </div>
      
      <!-- Separador entre contactos -->
      <hr class="">
      
      <!-- Fila 3: Padre (Nombre) vs. DNI -->
      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div class="col-4 d-flex justify-content-between align-items-center mb-3">
          <small class="flex-shrink-0 me-2 w-25">Padre</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">Israel</span>
        </div>
        <!-- Columna Derecha -->
        <div class="col-8 d-flex justify-content-between align-items-center mb-3">
          <small class="me-3">DNI</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">55511123B</span>
        </div>
      </div>
      
      <!-- Fila 4: Teléfono vs. Email (Alineación garantizada) -->
      <div class="row g-2 mb-2">
        <!-- Columna Izquierda -->
        <div class="col-4 d-flex justify-content-between align-items-center">
          <small class="me-3">Telefono</small>
          <span class="text-muted flex-grow-1 me-2 bg-light">622111222</span>
        </div>
        <!-- Columna Derecha -->
        <div class="col-8 d-flex justify-content-between align-items-center">
          <small class="me-3">Email</small>
          <span class="text-muted flex-grow-1 me-2 bg-light text-break">padrecorreo.com</span>
        </div>
      </div>
      
    </div>
  </div>
</div>