<!-- src/app/features/home/home.component.html -->
<div class="container-fluid mt-2">
  <div class="d-flex mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <button
          class="nav-link"
          [class.active]="modoFijo() === 'agenda'"
          (click)="modoFijo.set('agenda')"
        >
          Agenda
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          [class.active]="modoFijo() === 'cuadrante'"
          (click)="modoFijo.set('cuadrante')"
        >
          Cuadrante
        </button>
      </li>
    </ul>
  </div>

  @if (modoFijo() === 'agenda') {
  <div class="table-responsive">
    <table class="table table-sm align-middle table-agenda">
      <thead class="table-light">
        <tr>
          <th>Hora</th>
          <th>Estados</th>
          <th>Tratamiento</th>
          <th>Cliente</th>
          <th>Asistencia</th>
        </tr>
      </thead>
      <tbody>
        @for (horario of turnos(); track horario.id) {
        <tr
          style="cursor: pointer"
          [class.table-active]="selectedRowId() === horario.id"
          (click)="onFilaClick(horario)"
          (click)="verDetalle(horario)"
        >
          <td class="fw-semibold">
            {{ horario.fechaHoraInicio | date : "HH:mm" }} -
            {{ horario.fechaHoraFin | date : "HH:mm" }}
          </td>
          <td>
            <span class="badge bg-secondary">{{ horario.estado }}</span>
          </td>
          <td>
            <small>{{ horario.tipoSesion }}</small>
          </td>
          <td>
            <span class="badge bg-secondary"
              >{{ horario.cliente.nombre }}
              {{ horario.cliente.apellidos }}</span
            >
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <button
                type="button"
                class="btn"
                [class.btn-success]="horario.asistio === true"
                [class.btn-outline-success]="horario.asistio !== true"
                (click)="marcarAsistencia(horario.id!, true)"
              >
                Sí
              </button>
              <button
                type="button"
                class="btn"
                [class.btn-danger]="horario.asistio === false"
                [class.btn-outline-danger]="horario.asistio !== false"
                (click)="marcarAsistencia(horario.id!, false)"
              >
                No
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (modoFijo() === 'cuadrante') {
  <app-schedule type="trabajadorId" [id]="currentTrabajadorId()!"></app-schedule>
  }
</div>
