<!--
<div class="layout">
  <aside class="left-sidebar d-none d-lg-flex">
    <app-sidebar class="w-100"></app-sidebar>
  </aside>

  <div class="content">
    <header class="header w-100">
      <app-header userName="Belen"
                  userSurname="Palacios"
                  role="Pedagoga">
      </app-header>
    </header>

    <main class="content-scrollable">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->
<div class="app-wrapper">
  <router-outlet></router-outlet>
</div>