/* app.component.scss */
html, body, app-root { height: 100%; }

.app-layout { height: 100%; }

aside {
  width: 260px;
  transition: width .25s;
  &.collapsed { width: 72px; }
}

main header {
  position: sticky;
  top: 0;
  z-index: 1020;
}