.container-footer {
  min-height: calc(100vh - 173px);
}

footer {
  background-color: #a0c9f1;
  width: 100%;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

ul li {
  list-style: none;
}
