.table-agenda {
  --bs-table-cell-padding-x: .4rem;   /* lateral  */
  --bs-table-cell-padding-y: 0.2rem;   /* vertical */

  th, td {
    padding: var(--bs-table-cell-padding-y) var(--bs-table-cell-padding-x);
  }
}
.table-sm td {
  vertical-align: middle;
  font-size: 0.9rem;
}
.badge {
  font-size: 0.75em;
}

.table-active {
  --bs-table-bg: var(--bs-info-bg-subtle); /* azul suave de Bootstrap */
  /* o tu color: #e3f2fd */
}